<h1>レビュー記入ページ</h1>


<h3>タグリスト</h3>
<% @tag_list.each do |list| %>
<%= link_to list.tag_name, tag_reviews_path(tag_id: list.id) %>
<%= id="list.reviews.count"%> <!--???-->
<% end %>

<hr>

<!--選択した本タイトル、画像、著者名表示-->
<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= image_tag @book.image_url %></p>

<!--レビュー記入-->
<%= form_for @review,url: reviews_create_path(book_id: @book.id) do |form| %>
     <div class="form-group">
        <%= form.text_area :content %>
        <%= form.text_field :tag_name %>
        <!--%= form.hidden_field :book_id, :value => @book.id %-->
     </div>
     <br>
     <%= form.submit 'レビューを投稿' %>
     
     <%= flash[:notice] %>
     <%= flash[:success] %>
     <%= flash[:danger] %>
<% end %>

<%= link_to '戻る', books_search_path %>
<%= link_to 'レビュー一覧', reviews_path %>

